@font-face {
  font-family: 'font-regular';
  src: url('./fonts/PorscheNext-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'font-bold';
  src: url('./fonts/PorscheNext-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'font-thin';
  src: url('./fonts/PorscheNext-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'font-regular', sans-serif;
}

.font_bold{
  font-family: 'font-bold', sans-serif;
}

.font_thin{
  font-family: 'font-thin', sans-serif;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-item {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.image-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}
.landscape{
  max-width: 200px;
}
.portrait{
  max-width: 80px;
}

@media (max-width: 640px) {
  .landscape{
    max-width: 140px;
  }
  .portrait{
    max-width: 80px;
  }

  .image-grid{
    justify-content: space-between;
  }
}

.navBackground{
  backdrop-filter: blur(15px);
  background-color: #00000046;
}


.navBackground-side{
  backdrop-filter: blur(15px);
  background-color: #00000046;
  border-radius: 10px 0 0 10px ;
}
.navBackground-btm{
  backdrop-filter: blur(15px);
  background-color: #00000046;
  border-radius: 10px;
}


.transition-custom{
  transition: all 0.3s ease;
}
